<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CafeDBApplication.Properties.Settings.cafedatabaseConnectionString" connectionString="Data Source=den1.mssql3.gear.host;Initial Catalog=cafedatabase;Persist Security Info=True;User ID=cafedatabase;Password=Sl18~Q43eq!s" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
